.img-fluid {
    width: 200px;
    height:200px;
}

.imglogo{
    width:80px;
    height:auto;
}

.card {
    transition: transform 0.3s; /* 添加过渡效果 */
}

.card.news:hover {
    transform: scale(2);
}
.card{
    border: 1px solid transparent;
}
.img{
    width:200px;
    height:200px;
}
textarea{
    margin-bottom: 5px;

  width:30%;
}
input[type=text]{
    width:30%;
}
button{
    margin-bottom: 20px;
    background: #0d6efd;
    color: white;
    transition: background-color 0.2s ease;
    border-color: transparent;
    border-radius: 5px;
}
button:hover{
    background-color: blue;
}
.horizontalLine{
    margin-bottom: 15px;
}




.imags {
    display: flex;

}

.imags img{
    width:60px;
    height:60px;
    margin-left: 20px;
    margin-right: 50px;
}
.imags button{
   background-color: dodgerblue;
    color: white;
    width:70px;
    height:50px;
    margin-left: 20px;
    margin-right: 50px;
}
.button:active{
    background-color: blue ;
}
/*.commment{*/
/*    width:40%;*/
/*    height:auto;*/
/*    margin-top: 30px;*/
/*    margin-left: 30px;*/
/*}*/
/*.box{*/
/*    width:50%;*/
/*    height:40%;*/
/*    border:2px solid rgb(128, 128, 128);*/

/*}*/
/*.box p{*/
/*    margin-left: 30px;*/
/*}*/
